* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Login */
.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#00BFFF20;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    width: 1024px;
    background-color: #fff;
    flex: 0 1 1024px;
    box-shadow: 2px 3px 30px #000;
}

.container-img {
    width: 60%;
}

.container-img img {
    width: 100%;
    height: 100%;
    flex: 1 1 350px;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex: 0 1 300px;
    height: 400px;
    background-color: 	#00BFFF;
    border-radius: 10px;
}

.container-login img {
    color: #fff;
}

.container-login form {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 250px;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo input {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.esquecer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 0;
}

.salvar-senha {
    display: flex;
    align-items: center;
    gap: 3px;
}

.salvar-senha a {
    color: #0000FF;
}
button {
    width: 100%;
    padding: 10px;
    background: #0000CD;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #fff;
    color: #000;
}