* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

/* Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    height: 85vh;
    min-height: 50vh;
    max-width: 90%;
    flex-shrink: 0;
}

.container-img {
    flex: 1;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    min-height: auto;
    max-width: 70%;
    height: 90%;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    max-width: 50%;
    min-width: 400px;
    height: auto;
    flex-shrink: 1;
}

.container-login img {
    color: #fff;
    width: 150px;
}

.container-login form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 18px;
    gap: 15px;
}

.campo {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.esquecer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 0;
    gap: 8px;
    padding: 10px;
}

.salvar-senha {
    display: flex;
    align-items: center;
    gap: 3px;
}

.salvar-senha a {
    color: #0000FF10;
}
button {
    width: 100%;
    padding: 15px;
    background: #0056b3;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #003d82;
}

 /* Estilização do formulário de recuperação */
 #form-recuperacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adicionado espaçamento entre os elementos */
    border-radius: 8px;
    width: 90%;
}

#form-recuperacao h3 {
    margin-bottom: 10px;
}

#form-recuperacao .campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-recuperacao input {
    padding: 15px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#form-recuperacao .botoes-enviar {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
}

#form-recuperacao button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#form-recuperacao button[type="submit"] {
    background-color: #fff;
    color: #000;
}

#form-recuperacao button[type="submit"]:hover {
    background-color: #ccc;
    color: #000;
}

#form-recuperacao button[type="button"] {
    background-color: red;
    color: #fff;
}

#form-recuperacao button[type="button"]:hover {
    background-color: #ccc;
    color: #000;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 90%;
        padding: 20px;
    }
    .container-img {
       display: none;
    }
    .container-login {
        max-width: 100%;
        min-width: unset;
        padding: 20px;
    }
}


