* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Definindo variaveis para cores */
:root {
   --cor-hover: #e3e9f7; 
   --cor-azul-principal: #005DB5;
}

body {
    display: flex;
    min-height: 100vh;
}
main {
    flex: 1;
    width: 100%;
}

/* Seção cabeçalho */

header {
    height: 10%;
    display: flex;
    align-items: center;
}

.secao-indicadores {
    height: 20%;
    display: flex;
    align-items: center;
}

header,
.secao-indicadores {
    background-color: #005DB5;
    width: 100%;
    color: #fff;
}

.cabecalho {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.div-oculta {
    background-color: #000;
}

.container-modulos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

/* Seção Indicadores */

.secao-indicadores {
    position: relative;
}
.container-indicadores {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-left: 20px;
}

.container-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navegacao img {
    width: 20px;
}
.container-navegacao nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.container-navegacao .active-date {
    background-color: #000;
}
.container-navegacao ul li {
    list-style: none;
    background-color: #00498F;
    padding: 3px 5px;
    border-radius: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-navegacao a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.container-navegacao li:hover {
    background-color: #000;
}

.indicadores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    text-align: right;
}

.card {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #3D7BB7;
    border-radius: 10px;
    padding: 15px;
    flex: 1 2 150px;
    margin-right: 20px;
}

.card img {
    width: 40px;
}

.card figure {
    text-align: center;
}

/* Seção Dashboard */

.secao-dashboard,
.secao-cadastro {
    background-color: #CCC;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.container-dashboards {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card-dash {
    position: relative;
    background-color: #fff;
    flex: 2 1 40%;
    height: 48%;
    border-radius: 10px;
}

.card2 {
    flex: 0 1 30%;
}

.card-dash img {
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Seção formulário de cadastro */

.estoque-indicadores {
    height: 5%;
}

.secao-cadastro {
    height: 85%;
}

.container_frm_cadastro,
.container_frm_pedido {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
    height: 97%;
}

.container_frm_cadastro form,
.container_frm_pedido form {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}
.container_frm_cadastro form,
.frm_titulo {
    padding: 20px;
    max-width: 1024px;

}

.frm_titulo {
    display: flex;
    align-items: center;
}

.frm_titulo h1 {
    font-weight: bold;
    font-size: 42px;
}
.frm_titulo img {
    padding-right: 10px;
}

.container_frm_cadastro form fieldset,
.container_frm_pedido form fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    border: none;
    padding: 15px;
}

.container_frm_cadastro form fieldset legend,
.container_frm_pedido form fieldset legend {
    font-size: 24px;
    font-weight: 700;
}

.container_frm_cadastro form {
    display: flex;
    flex-direction: column;
}
/* Campos do formulário de cadastro */

.linha {
    width: 60%;
    border: 3px solid #005DB5;
}
.campo-cad { 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.campo-cad input, select, textarea {
    padding: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
}

.campo-cad textarea {
    width: 87%;
}
.tamanho-personalizado {
    width: 60%;
}

.container-enviar-dados {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.container-enviar-dados button,
.container-enviar-pedido button {
    padding: 15px;
    width: 180px;
    border: none;
    border-radius: 4px;
    font-size: 28px;
    cursor: pointer;
}

.btn_cancelar::before{
    content: "";
    background-image: url("..//assets/btn_calcel.png");
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    padding-right: 30px;
}

.btn_salvar::before,
.btn_emitir::before {
    content: "";
    background-image: url("../assets/btn_salvar.png");
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    padding-right: 30px ;
}

.btn_cancelar {
    background-color: red;
    color: #fff;
}

.btn_cancelar:hover,
.btn_salvar:hover,
.btn_emitir:hover {
    background-color: #cccccc80;
    color: #000;
}
.cancelar img {
    width: 35px;
}

#btn_cancelar button {
    background-color: red;
    color: #fff;
    font-weight: bold;
}

#cadastrar, button {
    background-color: #00CF3B;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

/* Estilo do fundo escuro */
.popUp {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo do conteúdo do modal */
.popUp-container {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Estilizando o campo de filtro de busca dos pedidos */

.frm_pedidos {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0 0 20px;
}

.frm_pedidos img {
    width: 30px;
    height: 30px;
}

.frm_pedidos select, input, button {
    padding: 8px;
    font-size: 16px;
}

.frm_pedidos button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.frm_pedidos button:hover {
    background-color: #0056b3;
}

/* Estilizando tabela de consulta de pedidos */
thead {
    position: relative;
}

thead th input {
    padding: 10px;
    border-radius: 20px;
    width: 150px;
}

tbody {
    position: relative;
}
tbody tr td {
    padding: 20px;
}
tbody tr:nth-of-type(odd) {
    background-color: #D9D9D9;
}

.checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    appearance: none;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

table thead th {
    text-align: center; /* Centraliza o conteúdo */
    padding: 15px; /* Reduz o padding para não afetar o alinhamento */
}


.checkbox:checked {
    background-color: #857b7b; /* Cor quando marcado */
    border-color: #000;
}

/* Oculta os checkboxes do tbody */
tbody .checkbox {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Garante que o checkbox não seja clicável */
    transition: opacity 0.3s ease-in-out;
}

/* Faz os checkboxes aparecerem quando o mouse passa por cima da linha */
tbody tr:hover .checkbox,
tbody .checkbox:checked {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Estilo para a linha destacada */ 
tr.selecionado {
    background-color: #ADD8E6 !important; /* Amarelo destaque */
    font-weight: bold;
}

.tabela-container {
    width: 100%;
    overflow-x: auto; /* Ativa a rolagem horizontal */
    white-space: nowrap; /* Impede que o conteúdo quebre linha */
}

table {
    width: 100%;
    min-width: 1200px; /* Ajuste conforme necessário */
    border-collapse: separate;
}
#status-indicators {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red; /* Padrão: desconectado */
    border: 1px solid black;
}